body{
  width: 100vw;
  height: 100vh;
  background-color:rgb(237, 237, 237);
  display: grid;
  place-items:center;
}
#root{
  width: 100%;
  height: 100vh;
  max-width:600px; 
}
*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family:tahoma;
}
section{
  display: flex;
  flex-direction: column;
  height:100vh;
}
section .msgs p{
  max-width:1000px; 
  padding:14px 20px ;
  color: #333;
  font-size: 1.2rem;
  background-color:blue;  
  margin:10px;
  width: fit-content;
  border:1px solid #3333;
  border-radius:30px;
  max-width:500px;
}
.msgs{
  width: 100%;
  display: flex;
  flex-direction:column;
  padding:100px 15px;
  position: relative;
  flex: 1;
  overflow-y:auto;
}

.msgs .bot{
  background-color:rgb(255, 255, 255);
}
.msgs .user{
  background-color:rgb(58, 197, 179);
  margin-left: auto;
}
section form {
  width: 100%;
  height:60px;
  align-items:center;
  justify-content:center;
  display: flex;
  margin-bottom:20px;
  }
section form input{
  width: 100%;
  height:60px;
  border: 1px solid #3333;
  border-radius:50px;
  font-size:1.1rem;
  display: flex;
  align-items:center;
  padding-left: 35px;
  outline:none;
}
section form button{
  display: none;
}